<!DOCTYPE html>
<html>
<head>
    <title>Profile Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container large-container">
        <h1>Profile Requests</h1>
        <ul>
            {% for name, email, request_id in requests %}
            <li>
                <div class="request-info">
                    <div>
                        <strong>{{ name }}</strong> - {{ email }}
                    </div>
                    <form method="POST" action="{{ url_for('accept_request', request_id=request_id) }}">
                        <button type="submit">Accept</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
